html,body {
    box-sizing: border-box ; 
    padding: 0 ;
    margin: 0 ; 
}

body{
    background-image: url(resources/19Z_2103.w015.n001.354B.p15.354.jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}
.navbar {
    background-color: rgba(0, 0, 0, 0.534);
    padding: 10%;   
}

.navbar-expand-lg .navbar-brand {
    font-family: 'Neucha';
    font-size: 45px;
    font-weight: bolder;
    padding: 1%;
    color: #6d1322;
    background-color: #a14e21cc;
    border-radius: 15%;
}


.nav-item .btn{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Neucha';
    border-radius: 20%;
    background-color: #a14e21cc;
    
}

.dropdown-menu .dropdown-item {
    font-size: 25px; 
    color: rgb(214, 18, 18);
    font-weight: bold;
    font-family: 'Neucha';
    background-color: rgb(224, 150, 52);
}
.contentFirst{
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleFirst h2{
    margin-top: 5%;
    font-family:'Neucha' ;
    font-size: 3rem;
    font-weight: bold;
    color: #fada90;
    text-align: center; 
}

.allTitles{
    background-color: rgba(252, 252, 252, 0.226);
    border-radius: 20%;
}
.homepage{
    display: flex;
    gap: 20%;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s ease;
    cursor: pointer; 
}

.homepage #chefin{
    width: 37%;
}
.homepage #chef{
    width: 40%;
    
}
.homepage img:hover{
    transform: scale(1.2);
    filter: drop-shadow(3px 3px 3px #c24949);
}

.underTitle h3{
    font-family:'Neucha' ;
    font-weight: bold;
    color: #fcfbf8;
    padding: 5%;
    width: 60ch;
    text-align: center;
}

  footer .card {
    background: linear-gradient(to right, #74351d,#8c672c, #74351d);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    }
    .blockquote p {
        font-size: 35px; 
        font-style: italic;
        font-family:'Neucha' ;
        font-weight: bolder;
    }
    
    footer .blockquote-footer { 
        margin-left: 17%;
        font-size: 35px;
        font-family:'Neucha' ;
        color: #be9c52; 
        
    }

/*albanian recipes page*/

.cookbook-recipes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cookbook-recipes h1 {
    display: inline-block;
    white-space: pre;
    font-size: 25px;
    color: #044622;
    font-weight: bold;
    line-height: 1.5; 
    letter-spacing: 0.1em; 
    font-family: 'Arial', sans-serif; 
    padding-right: 5%;
}


#slider {
    width: 70%;
    display: flex;
    margin-top: 5%;
    padding: 5rem;
    margin-left: 15%;
    font-family: 'Neucha';
    font-size: larger;
    border-radius: 1%;
    background-color: #f5f0da;  
}

.ingredients {
    width: 40%;
    line-height: 2;
    text-align: center;
    border: 0.2px solid black;
    padding: 1rem;
    background-color: #ffdfd0;
}

.ingredients h4 {
    margin-top: -1.1rem;
    background-color: #804c60 ;
    padding: 1rem;
    color: #ffdfd0
}
.recipes {
    width :90%;
    margin-left: 10%;
    text-align: center;
    border: 0.2px solid black;
    padding: 1rem;
    background-color: #ffdfd0;
}
.recipes h4 {
    margin-top: -1.1rem;
    background-color: #804c60;
    padding: 1rem;
    color: #ffdfd0
}

.foodCart {
    display: flex;
    justify-content: center;
  
}

.foodImage {
    width: 40%;
    height: 40%;
    border-radius: 50%;
}
 

.recipe-title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.recipe-title h3 {
    margin-top: 5rem;
    font-size: 4rem;
    color: #da7133;
}

.shareButton {
    margin-top: 3rem;
    padding: 0.5rem;
    background-color:#da7033ce ;
    font-weight: bold;
    font-size: 1rem;
    color: #630716;
    width: 15%;

 }

 .shareButton:hover {
    background-color: #ffdfd0 ;
    color: #301f07;
    
 }
.carousel-control-prev-icon {
    background-image: url(./resources/reshot-icon-left-arrow-button-RF5DMQX396-95d98.svg) !important;
    margin-left: 50% ;

    }
   
.carousel-control-next-icon {
 background-image: url(./resources/reshot-icon-right-arrow-button-YAB8GEM7SD-c5f61.svg) !important;
 margin-right: 50%;
 }
 .carousel-indicators {
    background-color: #804c60 ;
 }