html {
    box-sizing: border-box ; 
    padding: 0 ;
    margin: 0 ; 
    

}

body {
    margin: 0;
    background-image: url(./resources/BACK.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    }

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    background-color: rgba(73, 71, 67, 0.349);
}
.nav-right img{
    margin-left: 80%;
}
.nav-middle{
    
    transition: 0.4s ease;
    cursor: pointer;
}

nav a:first-child {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    background: -webkit-linear-gradient(hsla(0, 74%, 44%, 0.712), #0c0201);
    text-shadow: 2px 2px 4px rgba(231, 43, 43, 0.3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s ease;
}

nav img {
    width: 18%;
    margin: 0;
    padding: 0;
    transition: 0.4s ease;
    cursor: pointer;
}

nav img:hover{
    transform: scale(1.2);
    filter: drop-shadow(3px 3px 3px #110202);
}

.nav-middle:hover{
    transform: scale(1.2);
    filter: drop-shadow(3px 3px 3px #110202);
}

.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.title-homepage {
    margin-bottom: 1%;
    margin-top: 4%; 
}
.title-homepage h2 {
    font-size: 40px; 
    font-weight: bold; 
}

.title-homepage h3 {
    font-size: 23px; 
    font-style: italic; 
}
.homepage button{
    background-color: linear-gradient(to right, rgba(0, 128, 0, 0.452), rgba(0, 0, 0, 0.644));
    color: #000000;
    border-radius: 50%;
    padding:2em ;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
    
}

.homepage button:hover{
    transform: scale(1.2);
    filter: drop-shadow(3px 3px 3px #290909);
}


.middle-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2% 15% 5% 15%;
 }

 .middle-content h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #3d0703;
    font-weight: bold;
    font-size: 3em;
 }
 .middle-content p {
    padding: 10%;
    font-family: sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
 }
.moroccan-recipes {
    width: 45%;
    text-align: center;
    border: 5px solid rgb(34, 2, 2);
    border-radius: 50% 15% 15% 50%;
     
    padding: 2rem;
    margin-top: 2rem;
    height: 80%;
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-around;
    transition: 0.4s ease;
    cursor: pointer;
}
.chef-icon img {
    width: 70%;
    
}
.content-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
}
.moroccan-recipes:hover{
    transform: scale(1.2);
    filter: drop-shadow(3px 3px 3px #110202);
}

.albanian-recipes {
    width: 45%;
    text-align: center;
    border: 5px solid rgb(14, 13, 13);
    border-radius: 15% 50% 50% 15%;
    padding: 2rem;
    margin-top: 2rem;
    height: 80%;
    display: flex;
    flex-direction: row;
    transition: 0.4s ease;
    cursor: pointer; 
}
.chefin-icon img {
    width: 70%;
}
.content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
}

.albanian-recipes:hover{
    transform: scale(1.2);
    filter: drop-shadow(3px 3px 3px #290909);
}


/*morocco recipes page*/
.cookbook-recipes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cookbook-recipes h1 {
    display: inline-block;
    white-space: pre;
    font-size: 25px;
    color: #044622;
    font-weight: bold;
    line-height: 1.5; 
    letter-spacing: 0.1em; 
    font-family: 'Arial', sans-serif; 
   
    padding-right: 5%;
}


#slider {
    width: 60%;
    background-color: white;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
    padding: 5rem;
    margin-left: 17%;
    font-family: 'Neucha';
    font-size: larger;
    border-radius: 1%;
   
    
}

.ingredients {
    width: 50%;
    line-height: 2;
}

.recipes {
    width :80%;
    margin-left: 15%;
}

.foodCart {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.foodImage {
    width: 40%;
    
}
 
.recipe-title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.recipe-title h3 {
    margin-top: 5rem;
    font-size: 3rem;
}

.carousel-control-prev-icon {
    background-image: url(./resources/reshot-icon-left-arrow-button-RF5DMQX396-95d98.svg) !important;

    }
   
   .carousel-control-next-icon {
     background-image: url(./resources/reshot-icon-right-arrow-button-YAB8GEM7SD-c5f61.svg) !important;
     margin-right: 50%;
   }